Port = 8080
RegistrationLinkPattern = "http://localhost:8080/api/activate?token=%s"
ActivationRedirectURL = "http://localhost:5173/#/login?activated=true"


# Gateways defines the list of gateways that will be used by this proxy
Gateways = [
    {URL="http://127.0.0.1:8079", EpochStart="0", EpochEnd="latest", NonceStart="0", NonceEnd="latest", Name="R640"},
]

# ClosedEndpoints defines the list of closed endpoints that the proxy will specifically not serve
ClosedEndpoints = [
    "/transaction/send",
    "/transaction/send-multiple",
    "/transaction/send-user-funds"
]

# FreeAccount defines the throttling parameters for the free account type
[FreeAccount]
    MaxCalls = 100
    ClearPeriodInSeconds = 60