name: Go Tests

on:
  push:
    branches: [ main, rc/*, feat/* ]

jobs:
  test:
    name: Go Automated Tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.24.11
        uses: actions/setup-go@v2
        with:
          go-version: 1.24.11
        id: go

      - name: Check out code
        uses: actions/checkout@v3

      - name: Get dependencies
        run: |
          go get -v -t -d ./...
      - name: Run tests
        run: make tests
